.card
{
    width: 8rem;
    height: 13rem;
    background-color: rgba(0, 0, 0, .03);
}

.filterDiv
{
    border: 1px solid #0000001a;
    border-radius: 0.75rem;
    padding: 2rem;    
    background-color: rgba(0, 0, 0, .03);
}

.todayDiv
{
    background-color: #0d6efd8a;
}
