<div class="container">
  <div class="header text-center mb-5 mt-5">
    <h1>Weather</h1>
  </div>
  <div class="row form-group">
    <div class="col-md-2 text-end mt-1">
      <label for="Type">Type</label>
    </div>
    <div class="col-md-3">
      <select class="form-select" name="types" [(ngModel)]="request.type">
        <ng-container *ngFor="let type of typeOptions">
          <option [value]="type.value">{{ type.label }}</option>
        </ng-container>        
      </select>    </div>
    <div class="col-md-2 text-end mt-1">
      <label for="Location">Location</label>
    </div>
    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="request.location">
        <ng-container *ngFor="let city of citiesOptions">
          <option [value]="city.value">{{ city.label }}</option>
        </ng-container>        
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="getWeather()">Get Weather</button>
    </div>
  </div>
  <div *ngIf="result !== null" class="row mt-5">
    <div class="col-md-5">
    </div>
    <div class="col-md-2 text-center todayBox">
      <h3>Today</h3>

    </div>
    <div class="col-md-5">
    </div>
  </div>
</div>