<div class="container">
  <div class="header text-center mb-5 mt-5">
    <h1>Weather</h1>
  </div>
  <div class="row form-group filterDiv">
    <div class="col-md-2 text-end mt-1">
      <label for="Type">Type</label>
    </div>
    <div class="col-md-3">
      <select class="form-select" name="types" [(ngModel)]="request.type">
        <ng-container *ngFor="let type of typeOptions">
          <option [value]="type.value">{{ type.label }}</option>
        </ng-container>        
      </select>    </div>
    <div class="col-md-2 text-end mt-1">
      <label for="Location">Location</label>
    </div>
    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="request.location">
        <ng-container *ngFor="let city of citiesOptions">
          <option [value]="city.value">{{ city.label }}</option>
        </ng-container>        
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="getWeather()">Get Weather</button>
    </div>
  </div>
  <div *ngIf="result !== null"  class="row">
    <ng-container *ngFor="let day of baseData.days; index as i">
      <div class="col-md-2 col-sm-3 col-4">
        <div [className]="(i==7)?'card mt-5 todayDiv':'card mt-5'">
          <div class="card-body">
            <h4>{{(i==7?"Today":days[i])}}</h4>
            <h2>{{day.temp+sign}} </h2>
            <h5>{{day.tempmin+sign}}/{{day.tempmax+sign}}</h5>
            <p>{{day.conditions}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>